<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <description>数据持久模块配置</description>

    <import resource="classpath*:soento-db.xml"/>
    <import resource="classpath*:soento-hibernate.xml"/>
    <import resource="spring-jpa.xml"/>

</beans>
