<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="LOG_ROOT" value="/logs/sample-web"/>
    <include resource="soento-logback.xml"/>
    <logger name="com.test.sample" level="DEBUG"/>
    <root level="DEBUG">
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERROR"/>
    </root>
</configuration>